@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-50 text-gray-800 font-sans;
    overflow-y: auto; /* Ensure scrolling is enabled */
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.8s ease-in-out forwards;
  }

  .min-w-24 {
    min-width: 6rem;
  }

  .perspective-1000 {
    perspective: 1000px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
